<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">幻水総選挙2017 集計所</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li class="dropdown<% concat ' active' if controller.controller_name == 'count_vote' || controller.controller_name == 'after_party' %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">開票関連 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">開票結果（建設中）</a></li>
              <li<% concat ' class="active"'.html_safe if controller.controller_name == "count_vote" %>><%= link_to '開票ツイート', { controller: :count_vote, action: :index } %></li>
              <li<% concat ' class="active"'.html_safe if controller.controller_name == "after_party" %>><%= link_to '#幻水総選挙2017後夜祭', { controller: :after_party, action: :index } %></li>
            </ul>
          </li>
          <li class="dropdown<% concat ' active' if controller.controller_name == 'how_to_vote' || controller.controller_name == 'check_vote' || controller.controller_name == 'tweet_as_vote' || controller.controller_name == 'tweet_as_pr' %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">投票関連 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li<% concat ' class="active"'.html_safe if controller.controller_name == "how_to_vote" %>><%= link_to '投票方法', { controller: :how_to_vote, action: :index } %></li>
              <li<% concat ' class="active"'.html_safe if controller.controller_name == "check_vote" %>><%= link_to '投票チェック', { controller: :check_vote, action: :index } %></li>
              <li<% concat ' class="active"'.html_safe if controller.controller_name == "tweet_as_vote" %>><%= link_to '#幻水総選挙2017投票', { controller: :tweet_as_vote, action: :index } %></li>
              <li<% concat ' class="active"'.html_safe if controller.controller_name == "tweet_as_pr" %>><%= link_to '#幻水総選挙運動', { controller: :tweet_as_pr, action: :index } %></li>
            </ul>
          </li>
          <li class="dropdown">
          <li class="dropdown<% concat ' active' if controller.controller_name == 'index' && controller.action_name == 'thanks' %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">その他 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li<% concat ' class="active"'.html_safe if controller.controller_name == 'index' && controller.action_name == 'thanks' %>><%= link_to 'Thanks', { controller: :index, action: :thanks } %></li>
              <li><%= link_to '集計者用ページ', { controller: :for_members, action: :index } %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
